.row {
    display: flex;
    flex-direction: row;
    gap: var(--pad-default);

    background-color: white;

}

.col {
    display: flex;
    flex-direction: column;
    gap: var(--pad-default);
}

.input {
    flex: 2;
    width: 100%;
    padding: var(--pad-input);
    border-radius: var(--radius-default);
    font-size: 0.8rem;

    border: 2px solid var(--color-gr2);
    transition: all .3s;
}

.input:focus {
    border: 2px solid var(--color-grn1);
}

.text {
    display: flex;
    align-items: center;
    flex: 2;
    width: 100%;
    padding: var(--pad-half) 0;
    font-size: 0.8rem;
    transition: all .3s;
    color: var(--color-gr1);
    font-weight: bold;
}


.label {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-grn1);
}