
.inputbox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.input {
    position: relative;
    padding : var(--pad-default);
    border : 2px solid var(--color-lg);
    border-radius: var(--radius-min);
    transition: all .3s;
}

.label{
    position : absolute;
    top: 50%;
    left: var(--pad-default);
    transform: translateY(-50%);

    color: var(--color-lg);
    transition: all .3s;
    
    font-size: 0.9rem;
    /* padding : var(--pad-default); */
}

.input:focus {
    border : 2px solid var(--color-gr3);
    
}

.input:valid ~.label,
.input:focus ~.label
{
    top : 0;
    transform: translateY(-50%);
    color:var(--color-gr3);
    font-weight: bold;
    background-color: var(--color-wh);
    padding: 0 var(--pad-half); 
}

