.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    border-radius: var(--radius-default);
    padding: var(--pad-default) var(--pad-wide);

    box-shadow: var(--bs-default);
    background-color: var(--color-wh);
    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: var(--pad-default) 0;
    /* border-bottom: 1px solid var(--color-gr2); */
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-gr1);
    white-space: nowrap;
}

.body {
    height: 100%;
    padding: var(--pad-default) 0;
}

.fit{
    height: fit-content;
}