.col {
    display: flex;
    flex-direction: column;
}

.li_box {
    display: flex;
    justify-content: space-between;
    font-size: var(--size-default);
    padding: var(--pad-default);
    color: var(--color-gr1);
}

.li_box:hover {
    cursor: pointer;
    background-color: var(--color-grn1h);
}

.active {
    background-color: var(--color-grn1h);
}

.text{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    align-items: center;
    gap: var(--pad-default);
}

.option {
    opacity: 0;
}

.li_box:hover .option{
    opacity: 1;
}