.button {
    width: 100%;
    padding: var(--pad-half);
    border-radius: var(--radius-min);

    white-space: nowrap;
    color: white;
    /* background-color: var(--color-gr1); */
    background-color: var(--color-gr3);
    transition: all .3s;
    
}

.width {
    width: 100%;
}

.button:hover {
    cursor: pointer;
    /* background-color: var(--color-gr1); */
}


.default{
    background-color: var(--color-grn1);
}

.default:hover{
    background-color: var(--color-grn1h2);
}

.red{
    background-color: var(--color-btn-red);
}

.red:hover{
    background-color: var(--color-btn-redh);
}