.row{
    display: flex;
    gap : var(--pad-wide);
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : var(--pad-wide);
}

.list_wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item{
    display: flex;
    gap: var(--pad-half);
    padding: var(--pad-default);
}

.active {
    background-color: var(--color-grn1h);
}

.item:hover{
    background-color: var(--color-grn1h);
    cursor: pointer;
}

.display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}




.text{
    font-size: var(--size-default);
    font-weight: bold;
    color: var(--color-grn1);
}

.sub_text{
    font-size: var(--size-sub);
    color: var(--color-grn1);
}