.button {
    padding: var(--pad-default) var(--pad-wide);
    border-radius: var(--radius-min);

    white-space: nowrap;
    color: white;
    /* background-color: var(--color-gr1); */
    background-color: var(--color-gr3);
    transition: all .3s;
}

.width {
    width: 100%;
}

.button:hover {
    /* background-color: var(--color-gr3); */
    background-color: var(--color-gr1);
}