
.profile{
    width: fit-content;
    display: flex;
    gap: var(--pad-default);
    border-radius: var(--radius-default);

    background-color: white;
    padding: var(--pad-half);

    box-shadow:  var(--bs-default);
}

.user{
    display: flex;
    gap: var(--pad-half);
}

.img{
    border-radius: 50%;
    padding: 0.3rem;
    background-color: var(--color-grn1);
}

.info{
    display: flex;
    flex-direction: column;
}

.job{
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--color-gr1);
}

.name{
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-grn1);
}

.icon{
    display: flex;
    align-items: center;
}

.icon:hover{
    cursor: pointer;
}