.row {
    display: flex;
    gap: var(--pad-wide);
    width: 100%;
    min-height: 0;
    height: 100%;
}

.container{
    max-height: calc(100vh - 78.59px - 3rem);
}


.col{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--pad-wide);
    min-height: 0;
}

.flex1{
    flex:1;
}

.flex1_5{
    flex:1.5;
}

.flex2{
    flex:2;
}

.flex3{
    flex:6;
}