.drawer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column ;
    gap:var(--pad-half);
    min-width: 240px;
    height: 100%;
    padding :var(--pad-default)
}


.li{
    display: flex;
    align-items: center;
    gap : var(--pad-default);

    padding :var(--pad-default);
    transition: all .3s;
    border-radius: var(--radius-default);
}

.li:hover{
    cursor: pointer;
    background-color: var(--color-grn1);
}

.li:hover .title{
    color :#ffffff;
}

.active{
    background-color: var(--color-grn1);
}

.active .title{
    color: #ffffff;
}

.title{
    font-size: var(--size-default);
    font-weight: bold;
    color: var(--color-gr1);

}