.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    height: 650px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: var(--pad-default);
    height: 100%;
}

.hidden{
    overflow: hidden;
}

.row {
    display: flex;
    gap: var(--pad-default);
}

.title {
    font-size: var(--size-title);
}